<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue study</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
   
</head>
<body>
    <div id="app">
        <template v-if="loginType=='username'">
            <label>用户名</label>
            <input placeholder="请输入用户名">
        </template>
        <template v-else>
            <p><label>邮箱</label></p>
            <p><input placeholder="请输入邮箱"></p>
        </template>
        <p><button @click="toggleLoginType()">toggle</button></p>

        <hr>

        <template v-if="loginType2==='username'">
            <label>用户名</label>
            <input placeholder="请输入用户名" key="name">
        </template>
        <template v-else>
            <p><label>邮箱</label></p>
            <p><input placeholder="请输入邮箱" key="email"></p>
        </template>
        <p><button @click="toggleLoginType2()">toggle</button></p>
        <hr>

        <div v-for="(value, key, index) in object">
        {{ index }}. {{ key }}: {{ value }}
        </div>

    </div>

    <script>

        var vm = new Vue({
            el: '#app',
            data:{
                loginType: 'username',
                loginType2: 'username',
                object:{
                    name: 'tracy',
                    age: 27,
                    sex: 'nv'
                }
            },
            methods: {
                toggleLoginType(){
                    this.loginType = this.loginType==='username'?'':'username'
                },
                toggleLoginType2(){
                    this.loginType2 = this.loginType2==='username'?'':'username'
                }
            },
            computed:{
                
            }
        })
    
    </script>
    
</body>
</html>