<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>vue for 列表渲染</title>
    <script src="./vue.js"></script>
</head>
<body>
    <div id="app">
        <ul>
            <!--  of  or  in  :key 唯一的 不推荐使用 index 作为 key 一般采用数据的唯一标示  后端返回的-->
            <template v-for="(item,index) of list" >
                <li :key="item.id">{{item.name}}-{{index}}</li>
                <span>{{item.name}}</span>
            </template>
        </ul>

        <hr>
        <div v-for="(item,key,index) in userInfo">{{key}}-{{item}}-{{index}}</div>
    </div>

    <script>
        // vue 中提供了几种操作数组的方法 
        // pop shift unshift sort push reserve splice 
        let vm = new Vue({
            el: '#app',
            data(){ 
                return {
                    list:[
                        {
                            id: 100021,
                            name: 'hello'
                        },
                        {
                            id: 100022,
                            name: 'name'
                        },
                        {
                            id: 100023,
                            name: 'uuuuuu'
                        }
                        
                    ],
                    userInfo:{
                        name: 'trayc',
                        age : 27,
                        love: 'boy',
                        study: 'good'
                    }
                }
            }
        })
        // 还可以通过改变数组或者对象的引用 改变数据渲染
    </script>
</body>
</html>