<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>vue component props 与 非props</title>
    <script src="./vue.js"></script>
</head>
<body>
    <div id="app">
        <input type="text" name="" v-model="parentData">
        <parent :parent-data="parentData" :child-data="childData"></parent>
        <hr>
        <temlprop :message="122"></temlprop>
        <temlprop message="122"></temlprop>
        <temlprop :message="{a:9}"></temlprop>
        <temlprop :message="[1,2]"></temlprop>
        <temlprop :message="uuid"></temlprop>
    </div>
    <script>
        const uuid = Symbol.for('uuid')
        let child = {
            // props:['childData'],
            props:['child-data'],
            template: `
                <div> child - {{childData.name}} <br> <input v-model="childData.name"> </div>
            `
        }
        let parent = {
            props:['parent-data','child-data'],
            components:{
                child
            },
            template: `
                <div> 
                    parent-{{parentData}}
                    <child :child-data="childData"></child>
                    <hr>
                    <child :child-data="childData"></child>                    
                </div>
            `
        }
        let temlprop = {
            props:['message'],
            template: `
                <div> 输入的{{message}}属性 类型是： {{ typeofthis }}</div>
            `,
            computed: {
                typeofthis(){
                    return typeof this.message
                }
            }
        }

        let vm = new Vue({
            el: '#app',
            data:{
                parentData: '我是最外层的数据',
                childData:{
                    name: 'child-name'
                },
                uuid: uuid
            },
            components:{
                parent,
                temlprop
            }
        })
    </script>

</body>
</html>